/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.overflowed-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.result-card {
    cursor: pointer;
    max-width: 800px;
}

.result-card:hover {
    border: 1px solid #eaeaea;
    /* border-radius: 5px; */
    
}

/* Search Page */
.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
}

.search-logo {
    width: 45%;
}

.search-container {
    margin-bottom: 15%;
}

.search-for-somth {
    color: #237cd3;
}

/* Search bar on search page */
.main-search {
    height: 75px;
    font-size: 25px;
}

/* Results navbar */
.search-icon {
    width: 60px;
    height: 60px;
    margin-top: 10px;
}

.custom-navbar {
    border-bottom: 1px solid #e3e1e1;
    background-color: #f8f8f8;
}

.nav-container {
    display: -webkit-inline-box;
    margin: auto;
    text-align: center;
    padding: 15px;
}

/* Pagination */
.page-link {
    border: none;
}

/* Input group */


.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
    box-shadow: none;
}

.input-group-append > .btn {
    border-left: none;
}

.input-group-append > .btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
}
.main-search:focus, .input-group-append:active, .main-search:active, .input-group-append:focus, .input-group-text:focus, .input-group-text:active {
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-text {
    background-color: white !important;
    cursor: pointer;
}

.input-group > .form-control {
    border-right: 0;
}

.in-search {
    width: 25px;
    height: 25px;
    margin-top: 0;
}

/* Advanced Search */

.options {
    display: inline-flex;
}


/* Responsive */


body, hmtl {
    min-height: 100%;
    min-height: 100vh;
    min-width: 100%;
    min-width: 100vw;
}
