@model SearchContentDTO

<nav class="custom-navbar text-center">

    <div class="container nav-container">
        <a href="@Url.Action("Search", "Search", null)">
            <img class="search-icon" style="margin-right: 15px;" src="~/images/small-logo.png" />
        </a>
        <div style="width: 100%;">
            @{ await Html.RenderPartialAsync("_SearchInputPartial", Model); }
        </div>

    </div>

</nav>