
@{
    ViewData["Title"] = "Error";
}

<div>

    @{ await Html.RenderPartialAsync("_SearchNavbarPartial", ViewData["SearchedContent"]); }

</div>


<div class="container mt-4">
    
    <div class="row">

        <div class="col mt-5">
            <h4>Your search did not match any documents.</h4>

            <h5 class="mt-4">Suggestions:</h5>

            <ul style="font-size: 18px;">
                <li> Make sure that all words are spelled correctly.</li>
                <li>Try different keywords.</li>
                <li>Try more general keywords.</li>
            </ul>
        </div>

        <div class="col">
            <img class="w-50" src="~/images/oops.png"/>
        </div>
    </div>

</div>



