@model SearchContentDTO

@{
    ViewData["Title"] = "Search";
}

<div class="container body-content">

    <div>

        <h2>Search for something</h2>
        @{ await Html.RenderPartialAsync("_SearchInputPartial", Model); }

    </div>

    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }

</div>
