@model SearchContentDTO

@{
    ViewData["Title"] = "Search";
}

<div class="jumbotron vertical-center m-0">

    <div class="container text-center search-container">
        <img class="search-logo mb-5" src="~/images/New Project.png" alt="logo" />
        @{ await Html.RenderPartialAsync("_SearchInputPartial", Model); }
    </div>

</div>

