@model SearchContentDTO

@{
    ViewData["Title"] = "Search";
}

<div>

    <h2>Search for something</h2>
    @{ await Html.RenderPartialAsync("_InputSearchPartial", Model); }

</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
