@model SearchContentDTO

@* <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"> *@
@* <div class="container"> *@
@*     <br /> *@
@*     <div class="row justify-content-center"> *@
@*         <div class="col-8 col-md-10 col-lg-8"> *@
@*             <form asp-action="Search" class="card card-sm"> *@
@*                 <div class="card-body row no-gutters align-items-center"> *@
@*                     <div class="col-auto"> *@
@*                         <i class="fas fa-search h4 text-body"></i> *@
@*                     </div> *@
@*                     <!--end of col--> *@
@*                     <div class="col"> *@
@*                         <input asp-for="Input" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords"> *@
@*                     </div> *@
@*                     <!--end of col--> *@
@*                     <div class="col-auto"> *@
@*                         <button class="btn btn-lg btn-success" type="submit">Search</button> *@
@*                     </div> *@
@*                     <!--end of col--> *@
@*                 </div> *@
@*             </form> *@
@*         </div> *@
@*         <!--end of col--> *@
@*     </div> *@
@* </div> *@

<form asp-action="Search" class="form-inline">
    <input asp-for="Input" class="form-control mr-sm-2" type="search" placeholder="Search topics or keywords" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
