@using Shared
@model SearchContentDTO


<form asp-action="Search" class="form-inline">

    <div class="w-100">

        <div class="input-group search-partial mb-3">
            @* Searched Content *@
            <input asp-for="Input" type="search" id="search-bar" class="form-control form-control-lg mr-0 w-75 main-search" placeholder="Search topics or keywords" aria-label="Search" />

            @* Search Button *@
            <div class="input-group-append">
                <button type="submit" class="btn input-group-text"><img class="in-search" src="/images/search-logo-png-7.png"></button>
            </div>

        </div>

        <div class="text-center">
            <div id="advanced-search-dropdown-toggle" class="form-check mr-2 mt-1" onclick="showHide()">
                <label class="form-check-label" onclick="showHide()">
                    <input type="checkbox" asp-for="IsAdvancedSearch" onclick="showHide()" class="form-check-input"><i class="fas fa-info-circle"></i> Advanced Search
                </label>
            </div>

            <div class="container">
                <div id="show-hide" style="@("display: " + (Model.IsAdvancedSearch ? "block;" : "none;"))">

                    <div class="options mt-2">
                        @* Match Exact Words *@
                        <div class="pr-3">
                            <div class="form-check mr-2 mt-1">
                                <label class="form-check-label">
                                    <input type="checkbox" asp-for="MatchExactWords" class="form-check-input">Match exact words
                                </label>
                            </div>
                        </div>


                        @* Match Exact Sentence *@
                        <div class="pr-3">
                            <div class="form-check mr-2 mt-1">
                                <label class="form-check-label">
                                    <input type="checkbox" asp-for="MatchExactContent" class="form-check-input">Match exact sentence
                                </label>
                            </div>
                        </div>


                        @* Match Uncrawled Websites  *@
                        <div class="pr-3">
                            <div class="form-check mr-2 mt-1">
                                <label class="form-check-label">
                                    <input type="checkbox" asp-for="MatchUncrawledWebsites" class="form-check-input">Match uncrawled websites
                                </label>
                            </div>
                        </div>

                    </div>


                    <div class="options o-2 mt-3">

                        @* Website Language *@
                        <div class="pr-3" style="display: inline-flex;">
                            <span class="mr-2 mt-1">Website lang</span>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @foreach (var lang in Constants.Languages)
                                    {
                                        <span class="dropdown-item">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="radio" asp-for="Language" name="Language" value="@lang.Key" class="form-check-input">@lang.Name
                                                </label>
                                            </div>
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>

                        @* Website Date *@
                        <div class="pr-3">
                            <span class="mr-2 mt-1">Website date</span>
                            <input type="date" asp-for="StartDate" class="form-control form-control-sm" />
                            -
                            <input type="date" asp-for="EndDate" class="form-control form-control-sm" />
                        </div>

                        @* Fuzziness *@
                        <div class="pr-3">
                            <span class="mr-2">Fuzziness</span>
                            <input type="number" asp-for="Fuzziness" id="fuzziness-crit" min="0" style="width: 60px;" class="form-control form-control-sm" placeholder="1" />
                        </div>

                    </div>


                </div>
            </div>

        </div>

    </div>

</form>

<script>

    function showHide() {
        var x = document.getElementById("show-hide");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function show() {
        var x = document.getElementById("show-hide");
        x.style.display = "block";

    }

</script>